.card-section{
    background-color:#F5F5F5;
}
.card-part{
    width: 1284px;
    max-width: 100%;
    margin:  0 auto;
}
.button{
    display: flex;
    justify-content: end;
}
.button h6{
    margin-right: 3%;
    margin-top: 10%;
    margin-bottom: 4%;
    font-size: 11px;
    font-weight: 100;
}
.button img{
    margin-top: 6%;
    /* margin-bottom: 30px; */
}
.elipse-img{
    position: absolute;
}
.union-img{
    position: relative;
    margin-right: 1.5%;
    margin-bottom: 1%;
}
.card-one{
    background-color: white;
    display: flex;
    margin-bottom: 2%;
}
.card-two{
    background-color: white;
    display: flex;
    margin-bottom: 2%;
}
.card-three{
    background-color: white;
    display: flex;
    margin-bottom: 2%;
}
.card-four{
    background-color: white;
    display: flex;
    margin-bottom: 2%;
}

.card-txt h3{
    margin-left: 4%;
    margin-top: 4%;
    
}
.card-txt p{
    color: #666666;
    width: 603px;
    margin-left: 4%;
    margin-top: 2%;
    line-height: 25px;
}
.card-txt h2{
    position: relative;
    margin-left: 130%;
    font-size: 40px;
    top: -35%;
    color: #666666;
}