*{
    font-family: 'Roboto', sans-serif;
}

.card-section{
    background-color:#F5F5F5;
}
.card-part{
    width: 1284px;
    max-width: 100%;
    margin:  0 auto;
}
.button{
    display: flex;
    justify-content: end;
}
.button h6{
    margin-right: 3%;
    margin-top: 10%;
    margin-bottom: 4%;
    font-size: 11px;
    font-weight: 100;
}
.button img{
    margin-top: 6%;
    /* margin-bottom: 30px; */
}
.elipse-img{
    position: absolute;
}
.union-img{
    position: relative;
    margin-right: 1.5%;
    margin-bottom: 1%;
}
.card{
    background-color: white;
    display: flex;
    margin-bottom: 2%;
}

.card-txt h3{
    margin-left: 4%;
    margin-top: 4%;
}
.card-txt p{
    color: #666666;
    width: 603px;
    margin-left: 4%;
    margin-top: 2%;
    line-height: 25px;
}
.card-txt h2{
    position: relative;
    margin-left: 130%;
    font-size: 40px;
    top: -35%;
    color: #666666;
}

.modal-part{
    background-color: #3C4953;
    width: 532px;
    height: 760px;
    position: absolute;
    /* transform: translateX(100%); */
    right: 1px;
    /* top: 20px; */
}

.add-new {
    display: flex;
    flex-direction: column;
}

.add{
    display: flex;
}


.add h4{
    margin-top: 10%;
    color: white;
    font-size: 21px;
    font-weight: 400;
}

.form{
    margin:  0 12%;
}

.form input{
    width: 389px;
    height: 64px;
    border-radius: 6px;
    margin-bottom: 30px;
}
.form textarea{
    height: 154px;
    width: 389px;
    border-radius: 6px;
    margin-bottom: 30px;
}
::placeholder{
    font-size: 14px;
    font-weight: 400;
    color: #8692A6;
    
}

.form button{
    width: 389px;
    height: 64px;
    border-radius: 6px;
    margin-bottom: 30px;
    background-color: #30EFA6;
    
}

.close-modal{
    margin: 10% 30% 12% 5%;
}